
page-login{
    ion-content{
        text-align: center;
    }
    #goback{
        float: left;
        height:30px;
    }
    input{
        margin-top:30px;
    }
    .login-input{
        height:40px;
        width:200px;
    }
    #login-list{
        font-size: 20px;
        margin-top: 20%;
    }
    #logbtn{
        height:40px;
        width: 80px;
        margin-top:30px;
        font-size: 17px;
        background-color: brown;
        color:white;
    }
} 

