page-publish {
    .pub_msg{
        background: rgb(249, 249, 249);
    }
    .pub_msg_list1{
        background: #fff;
    }
    .pub_msg_list1 ion-item{
        padding-left:0; 
        background: #fff;
    }
    .pub_msg_list1 ion-label{
        padding-left: 1rem;
        width: 8rem;
    }
    .nrms{
        font-size: 1.6rem;
        margin-left: 1rem;
    }
    .textarea{
        height: 10rem;
    }
    .mic_img ion-icon{
        width: 3rem;
    }
    #center{
        text-align:center;
        width:80%;
        margin-left:10%;
    }
}
